################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetStore/.vs/PetStore/FileContentIndex/1156364a-22d1-4f93-8024-c045dc14d16d.vsidx
/PetStore/.vs/PetStore/FileContentIndex/54fa63fb-c47d-4f8a-a230-db0e5708204c.vsidx
/PetStore/.vs/PetStore/FileContentIndex/a71d4a35-2181-4943-a4f3-81adec96f5b3.vsidx
/PetStore/.vs/PetStore/FileContentIndex/ee44bdde-c1ac-40cd-82ec-bee5e949211f.vsidx
/PetStore/.vs/PetStore/v17/TestStore/0/000.testlog
/PetStore/.vs/PetStore/v17/.suo
